.header {
  position: sticky;
  top: 1.5rem;
  z-index: 1000;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 25px;
  margin: 0 2rem;
}

.navbar {
  max-width: 130rem;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.links {
  display: flex;
  gap: 2rem;
}

.link {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.2s ease;
}

.link:hover {
  color: #0077cc;
}

.active {
  color: #0077cc;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #0077cc;
  border-radius: 2px;
}

.button {
  padding: 1.2rem 1.4rem;
  background: white;
  color: #0077cc;
  border: 1px solid #0077cc;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background: #e6f2ff;
}
